.classpath
.project
.idea
.mendix-cache
.svn
deployment
**/javasource/**/proxies/
*.launch
*.iml
IBM Watson Connectors Example Project.mpr.lock
IBM Watson Connectors Example Project.mpr.bak
